In [4]:
import pandas

mydataset = {
    'cars': ["BMW", "Volvo", "Ford"],
    'passings': [3, 7, 2]
}

myvar = pandas.DataFrame(mydataset)
myvar

    cars  passings
0    BMW         3
1  Volvo         7
2   Ford         2

In [3]:
print(myvar)

    cars  passings
0    BMW         3
1  Volvo         7
2   Ford         2

In [5]:
import pandas as pd
print(pd.__version__)

1.1.3

In [6]:
a = [1, 7, 2]
myvar = pd.Series(a)
myvar

0    1
1    7
2    2
dtype: int64

In [8]:
a[0]

1

In [10]:
print(myvar[0])

1

In [12]:
a = [1, 2, 3]
myvar = pd.Series(a, index = ["x", "y", "z"])
myvar

x    1
y    2
z    3
dtype: int64

In [13]:
myvar["y"]

2

In [16]:
calories = {"Monday": 1800, "Tuesday": 1796, "Wednesday": 2233}
myvar = pd.Series(calories)
print(myvar)

Monday       1800
Tuesday      1796
Wednesday    2233
dtype: int64

In [19]:
calories = {"Monday": 1800, "Tuesday": 1796, "Wednesday": 2233}
myvar = pd.Series(calories, index = ["Monday", "Tuesday"])
(myvar)

Monday     1800
Tuesday    1796
dtype: int64

In [21]:
data = {
    "Calories": [420, 380, 390],
    "Duration": [50, 40, 45]
}

df = pd.DataFrame(data)
df

   Calories  Duration
0       420        50
1       380        40
2       390        45

In [22]:
print(df.loc[0])

Calories    420
Duration     50
Name: 0, dtype: int64

In [23]:
df.loc[0]    # THis returns a Pandas Series

Calories    420
Duration     50
Name: 0, dtype: int64

In [25]:
df.loc[[0,1]]

   Calories  Duration
0       420        50
1       380        40

In [26]:
data = {
    "Calories": [420, 380, 390],
    "Duration": [50, 40, 45]
}

df = pd.DataFrame(data, index = ["Day 1", "Day 2", "Day 3"])

df

       Calories  Duration
Day 1       420        50
Day 2       380        40
Day 3       390        45

In [27]:
df.loc["Day 2"]

Calories    380
Duration     40
Name: Day 2, dtype: int64

In [28]:
df = pd.read_csv('tips.csv')
print(df)
# only prints first 5 and last 5 rows of DataFrame

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [30]:
print(df.to_string()) # prints entire DataFrame

     total_bill    tip     sex smoker   day    time  size
0         16.99   1.01  Female     No   Sun  Dinner     2
1         10.34   1.66    Male     No   Sun  Dinner     3
2         21.01   3.50    Male     No   Sun  Dinner     3
3         23.68   3.31    Male     No   Sun  Dinner     2
4         24.59   3.61  Female     No   Sun  Dinner     4
5         25.29   4.71    Male     No   Sun  Dinner     4
6          8.77   2.00    Male     No   Sun  Dinner     2
7         26.88   3.12    Male     No   Sun  Dinner     4
8         15.04   1.96    Male     No   Sun  Dinner     2
9         14.78   3.23    Male     No   Sun  Dinner     2
10        10.27   1.71    Male     No   Sun  Dinner     2
11        35.26   5.00  Female     No   Sun  Dinner     4
12        15.42   1.57    Male     No   Sun  Dinner     2
13        18.43   3.00    Male     No   Sun  Dinner     4
14        14.83   3.02  Female     No   Sun  Dinner     2
15        21.58   3.92    Male     No   Sun  Dinner     2
16        10.33   1.67  Female     No   Sun  Dinner     3
17        16.29   3.71    Male     No   Sun  Dinner     3
18        16.97   3.50  Female     No   Sun  Dinner     3
19        20.65   3.35    Male     No   Sat  Dinner     3
20        17.92   4.08    Male     No   Sat  Dinner     2
21        20.29   2.75  Female     No   Sat  Dinner     2
22        15.77   2.23  Female     No   Sat  Dinner     2
23        39.42   7.58    Male     No   Sat  Dinner     4
24        19.82   3.18    Male     No   Sat  Dinner     2
25        17.81   2.34    Male     No   Sat  Dinner     4
26        13.37   2.00    Male     No   Sat  Dinner     2
27        12.69   2.00    Male     No   Sat  Dinner     2
28        21.70   4.30    Male     No   Sat  Dinner     2
29        19.65   3.00  Female     No   Sat  Dinner     2
30         9.55   1.45    Male     No   Sat  Dinner     2
31        18.35   2.50    Male     No   Sat  Dinner     4
32        15.06   3.00  Female     No   Sat  Dinner     2
33        20.69   2.45  Female     No   Sat  Dinner     4
34        17.78   3.27    Male     No   Sat  Dinner     2
35        24.06   3.60    Male     No   Sat  Dinner     3
36        16.31   2.00    Male     No   Sat  Dinner     3
37        16.93   3.07  Female     No   Sat  Dinner     3
38        18.69   2.31    Male     No   Sat  Dinner     3
39        31.27   5.00    Male     No   Sat  Dinner     3
40        16.04   2.24    Male     No   Sat  Dinner     3
41        17.46   2.54    Male     No   Sun  Dinner     2
42        13.94   3.06    Male     No   Sun  Dinner     2
43         9.68   1.32    Male     No   Sun  Dinner     2
44        30.40   5.60    Male     No   Sun  Dinner     4
45        18.29   3.00    Male     No   Sun  Dinner     2
46        22.23   5.00    Male     No   Sun  Dinner     2
47        32.40   6.00    Male     No   Sun  Dinner     4
48        28.55   2.05    Male     No   Sun  Dinner     3
49        18.04   3.00    Male     No   Sun  Dinner     2
50        12.54   2.50    Male     No   Sun  Dinner     2
51        10.29   2.60  Female     No   Sun  Dinner     2
52        34.81   5.20  Female     No   Sun  Dinner     4
53         9.94   1.56    Male     No   Sun  Dinner     2
54        25.56   4.34    Male     No   Sun  Dinner     4
55        19.49   3.51    Male     No   Sun  Dinner     2
56        38.01   3.00    Male    Yes   Sat  Dinner     4
57        26.41   1.50  Female     No   Sat  Dinner     2
58        11.24   1.76    Male    Yes   Sat  Dinner     2
59        48.27   6.73    Male     No   Sat  Dinner     4
60        20.29   3.21    Male    Yes   Sat  Dinner     2
61        13.81   2.00    Male    Yes   Sat  Dinner     2
62        11.02   1.98    Male    Yes   Sat  Dinner     2
63        18.29   3.76    Male    Yes   Sat  Dinner     4
64        17.59   2.64    Male     No   Sat  Dinner     3
65        20.08   3.15    Male     No   Sat  Dinner     3
66        16.45   2.47  Female     No   Sat  Dinner     2
67         3.07   1.00  Female    Yes   Sat  Dinner     1
68        20.23   2.01    Male     No   Sat  Dinner     2
69        15.01   2.09    Male    Yes   Sat  Dinner     2
70        12.02   1.97    Male     No   Sat  Dinner     2
71        17.07   3.00  Female     No   Sat  Dinner     3
72        26.86   3.14  Female    Yes   Sat  Dinner     2
73        25.28   5.00  Female    Yes   Sat  Dinner     2
74        14.73   2.20  Female     No   Sat  Dinner     2
75        10.51   1.25    Male     No   Sat  Dinner     2
76        17.92   3.08    Male    Yes   Sat  Dinner     2
77        27.20   4.00    Male     No  Thur   Lunch     4
78        22.76   3.00    Male     No  Thur   Lunch     2
79        17.29   2.71    Male     No  Thur   Lunch     2
80        19.44   3.00    Male    Yes  Thur   Lunch     2
81        16.66   3.40    Male     No  Thur   Lunch     2
82        10.07   1.83  Female     No  Thur   Lunch     1
83        32.68   5.00    Male    Yes  Thur   Lunch     2
84        15.98   2.03    Male     No  Thur   Lunch     2
85        34.83   5.17  Female     No  Thur   Lunch     4
86        13.03   2.00    Male     No  Thur   Lunch     2
87        18.28   4.00    Male     No  Thur   Lunch     2
88        24.71   5.85    Male     No  Thur   Lunch     2
89        21.16   3.00    Male     No  Thur   Lunch     2
90        28.97   3.00    Male    Yes   Fri  Dinner     2
91        22.49   3.50    Male     No   Fri  Dinner     2
92         5.75   1.00  Female    Yes   Fri  Dinner     2
93        16.32   4.30  Female    Yes   Fri  Dinner     2
94        22.75   3.25  Female     No   Fri  Dinner     2
95        40.17   4.73    Male    Yes   Fri  Dinner     4
96        27.28   4.00    Male    Yes   Fri  Dinner     2
97        12.03   1.50    Male    Yes   Fri  Dinner     2
98        21.01   3.00    Male    Yes   Fri  Dinner     2
99        12.46   1.50    Male     No   Fri  Dinner     2
100       11.35   2.50  Female    Yes   Fri  Dinner     2
101       15.38   3.00  Female    Yes   Fri  Dinner     2
102       44.30   2.50  Female    Yes   Sat  Dinner     3
103       22.42   3.48  Female    Yes   Sat  Dinner     2
104       20.92   4.08  Female     No   Sat  Dinner     2
105       15.36   1.64    Male    Yes   Sat  Dinner     2
106       20.49   4.06    Male    Yes   Sat  Dinner     2
107       25.21   4.29    Male    Yes   Sat  Dinner     2
108       18.24   3.76    Male     No   Sat  Dinner     2
109       14.31   4.00  Female    Yes   Sat  Dinner     2
110       14.00   3.00    Male     No   Sat  Dinner     2
111        7.25   1.00  Female     No   Sat  Dinner     1
112       38.07   4.00    Male     No   Sun  Dinner     3
113       23.95   2.55    Male     No   Sun  Dinner     2
114       25.71   4.00  Female     No   Sun  Dinner     3
115       17.31   3.50  Female     No   Sun  Dinner     2
116       29.93   5.07    Male     No   Sun  Dinner     4
117       10.65   1.50  Female     No  Thur   Lunch     2
118       12.43   1.80  Female     No  Thur   Lunch     2
119       24.08   2.92  Female     No  Thur   Lunch     4
120       11.69   2.31    Male     No  Thur   Lunch     2
121       13.42   1.68  Female     No  Thur   Lunch     2
122       14.26   2.50    Male     No  Thur   Lunch     2
123       15.95   2.00    Male     No  Thur   Lunch     2
124       12.48   2.52  Female     No  Thur   Lunch     2
125       29.80   4.20  Female     No  Thur   Lunch     6
126        8.52   1.48    Male     No  Thur   Lunch     2
127       14.52   2.00  Female     No  Thur   Lunch     2
128       11.38   2.00  Female     No  Thur   Lunch     2
129       22.82   2.18    Male     No  Thur   Lunch     3
130       19.08   1.50    Male     No  Thur   Lunch     2
131       20.27   2.83  Female     No  Thur   Lunch     2
132       11.17   1.50  Female     No  Thur   Lunch     2
133       12.26   2.00  Female     No  Thur   Lunch     2
134       18.26   3.25  Female     No  Thur   Lunch     2
135        8.51   1.25  Female     No  Thur   Lunch     2
136       10.33   2.00  Female     No  Thur   Lunch     2
137       14.15   2.00  Female     No  Thur   Lunch     2
138       16.00   2.00    Male    Yes  Thur   Lunch     2
139       13.16   2.75  Female     No  Thur   Lunch     2
140       17.47   3.50  Female     No  Thur   Lunch     2
141       34.30   6.70    Male     No  Thur   Lunch     6
142       41.19   5.00    Male     No  Thur   Lunch     5
143       27.05   5.00  Female     No  Thur   Lunch     6
144       16.43   2.30  Female     No  Thur   Lunch     2
145        8.35   1.50  Female     No  Thur   Lunch     2
146       18.64   1.36  Female     No  Thur   Lunch     3
147       11.87   1.63  Female     No  Thur   Lunch     2
148        9.78   1.73    Male     No  Thur   Lunch     2
149        7.51   2.00    Male     No  Thur   Lunch     2
150       14.07   2.50    Male     No   Sun  Dinner     2
151       13.13   2.00    Male     No   Sun  Dinner     2
152       17.26   2.74    Male     No   Sun  Dinner     3
153       24.55   2.00    Male     No   Sun  Dinner     4
154       19.77   2.00    Male     No   Sun  Dinner     4
155       29.85   5.14  Female     No   Sun  Dinner     5
156       48.17   5.00    Male     No   Sun  Dinner     6
157       25.00   3.75  Female     No   Sun  Dinner     4
158       13.39   2.61  Female     No   Sun  Dinner     2
159       16.49   2.00    Male     No   Sun  Dinner     4
160       21.50   3.50    Male     No   Sun  Dinner     4
161       12.66   2.50    Male     No   Sun  Dinner     2
162       16.21   2.00  Female     No   Sun  Dinner     3
163       13.81   2.00    Male     No   Sun  Dinner     2
164       17.51   3.00  Female    Yes   Sun  Dinner     2
165       24.52   3.48    Male     No   Sun  Dinner     3
166       20.76   2.24    Male     No   Sun  Dinner     2
167       31.71   4.50    Male     No   Sun  Dinner     4
168       10.59   1.61  Female    Yes   Sat  Dinner     2
169       10.63   2.00  Female    Yes   Sat  Dinner     2
170       50.81  10.00    Male    Yes   Sat  Dinner     3
171       15.81   3.16    Male    Yes   Sat  Dinner     2
172        7.25   5.15    Male    Yes   Sun  Dinner     2
173       31.85   3.18    Male    Yes   Sun  Dinner     2
174       16.82   4.00    Male    Yes   Sun  Dinner     2
175       32.90   3.11    Male    Yes   Sun  Dinner     2
176       17.89   2.00    Male    Yes   Sun  Dinner     2
177       14.48   2.00    Male    Yes   Sun  Dinner     2
178        9.60   4.00  Female    Yes   Sun  Dinner     2
179       34.63   3.55    Male    Yes   Sun  Dinner     2
180       34.65   3.68    Male    Yes   Sun  Dinner     4
181       23.33   5.65    Male    Yes   Sun  Dinner     2
182       45.35   3.50    Male    Yes   Sun  Dinner     3
183       23.17   6.50    Male    Yes   Sun  Dinner     4
184       40.55   3.00    Male    Yes   Sun  Dinner     2
185       20.69   5.00    Male     No   Sun  Dinner     5
186       20.90   3.50  Female    Yes   Sun  Dinner     3
187       30.46   2.00    Male    Yes   Sun  Dinner     5
188       18.15   3.50  Female    Yes   Sun  Dinner     3
189       23.10   4.00    Male    Yes   Sun  Dinner     3
190       15.69   1.50    Male    Yes   Sun  Dinner     2
191       19.81   4.19  Female    Yes  Thur   Lunch     2
192       28.44   2.56    Male    Yes  Thur   Lunch     2
193       15.48   2.02    Male    Yes  Thur   Lunch     2
194       16.58   4.00    Male    Yes  Thur   Lunch     2
195        7.56   1.44    Male     No  Thur   Lunch     2
196       10.34   2.00    Male    Yes  Thur   Lunch     2
197       43.11   5.00  Female    Yes  Thur   Lunch     4
198       13.00   2.00  Female    Yes  Thur   Lunch     2
199       13.51   2.00    Male    Yes  Thur   Lunch     2
200       18.71   4.00    Male    Yes  Thur   Lunch     3
201       12.74   2.01  Female    Yes  Thur   Lunch     2
202       13.00   2.00  Female    Yes  Thur   Lunch     2
203       16.40   2.50  Female    Yes  Thur   Lunch     2
204       20.53   4.00    Male    Yes  Thur   Lunch     4
205       16.47   3.23  Female    Yes  Thur   Lunch     3
206       26.59   3.41    Male    Yes   Sat  Dinner     3
207       38.73   3.00    Male    Yes   Sat  Dinner     4
208       24.27   2.03    Male    Yes   Sat  Dinner     2
209       12.76   2.23  Female    Yes   Sat  Dinner     2
210       30.06   2.00    Male    Yes   Sat  Dinner     3
211       25.89   5.16    Male    Yes   Sat  Dinner     4
212       48.33   9.00    Male     No   Sat  Dinner     4
213       13.27   2.50  Female    Yes   Sat  Dinner     2
214       28.17   6.50  Female    Yes   Sat  Dinner     3
215       12.90   1.10  Female    Yes   Sat  Dinner     2
216       28.15   3.00    Male    Yes   Sat  Dinner     5
217       11.59   1.50    Male    Yes   Sat  Dinner     2
218        7.74   1.44    Male    Yes   Sat  Dinner     2
219       30.14   3.09  Female    Yes   Sat  Dinner     4
220       12.16   2.20    Male    Yes   Fri   Lunch     2
221       13.42   3.48  Female    Yes   Fri   Lunch     2
222        8.58   1.92    Male    Yes   Fri   Lunch     1
223       15.98   3.00  Female     No   Fri   Lunch     3
224       13.42   1.58    Male    Yes   Fri   Lunch     2
225       16.27   2.50  Female    Yes   Fri   Lunch     2
226       10.09   2.00  Female    Yes   Fri   Lunch     2
227       20.45   3.00    Male     No   Sat  Dinner     4
228       13.28   2.72    Male     No   Sat  Dinner     2
229       22.12   2.88  Female    Yes   Sat  Dinner     2
230       24.01   2.00    Male    Yes   Sat  Dinner     4
231       15.69   3.00    Male    Yes   Sat  Dinner     3
232       11.61   3.39    Male     No   Sat  Dinner     2
233       10.77   1.47    Male     No   Sat  Dinner     2
234       15.53   3.00    Male    Yes   Sat  Dinner     2
235       10.07   1.25    Male     No   Sat  Dinner     2
236       12.60   1.00    Male    Yes   Sat  Dinner     2
237       32.83   1.17    Male    Yes   Sat  Dinner     2
238       35.83   4.67  Female     No   Sat  Dinner     3
239       29.03   5.92    Male     No   Sat  Dinner     3
240       27.18   2.00  Female    Yes   Sat  Dinner     2
241       22.67   2.00    Male    Yes   Sat  Dinner     2
242       17.82   1.75    Male     No   Sat  Dinner     2
243       18.78   3.00  Female     No  Thur  Dinner     2

In [32]:
print(df.head(10))

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4
5       25.29  4.71    Male     No  Sun  Dinner     4
6        8.77  2.00    Male     No  Sun  Dinner     2
7       26.88  3.12    Male     No  Sun  Dinner     4
8       15.04  1.96    Male     No  Sun  Dinner     2
9       14.78  3.23    Male     No  Sun  Dinner     2

In [33]:
print(df.tail(10))

     total_bill   tip     sex smoker   day    time  size
234       15.53  3.00    Male    Yes   Sat  Dinner     2
235       10.07  1.25    Male     No   Sat  Dinner     2
236       12.60  1.00    Male    Yes   Sat  Dinner     2
237       32.83  1.17    Male    Yes   Sat  Dinner     2
238       35.83  4.67  Female     No   Sat  Dinner     3
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

In [34]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    object
 3   smoker      244 non-null    object
 4   day         244 non-null    object
 5   time        244 non-null    object
 6   size        244 non-null    int64
dtypes: float64(2), int64(1), object(4)
memory usage: 13.5+ KB
None

In [36]:
df = pd.read_csv('data.csv')
print(df)

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]

In [38]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 169 entries, 0 to 168
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  169 non-null    int64
 1   Pulse     169 non-null    int64
 2   Maxpulse  169 non-null    int64
 3   Calories  164 non-null    float64
dtypes: float64(1), int64(3)
memory usage: 5.4 KB
None

In [39]:
# Cleaning Empty Cells

df = pd.read_csv('data.csv')
new_df = df.dropna()

print(new_df.to_string())

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
5          60    102       127     300.0
6          60    110       136     374.0
7          45    104       134     253.3
8          30    109       133     195.1
9          60     98       124     269.0
10         60    103       147     329.3
11         60    100       120     250.7
12         60    106       128     345.3
13         60    104       132     379.3
14         60     98       123     275.0
15         60     98       120     215.2
16         60    100       120     300.0
18         60    103       123     323.0
19         45     97       125     243.0
20         60    108       131     364.2
21         45    100       119     282.0
22         60    130       101     300.0
23         45    105       132     246.0
24         60    102       126     334.5
25         60    100       120     250.0
26         60     92       118     241.0
28         60    100       132     280.0
29         60    102       129     380.3
30         60     92       115     243.0
31         45     90       112     180.1
32         60    101       124     299.0
33         60     93       113     223.0
34         60    107       136     361.0
35         60    114       140     415.0
36         60    102       127     300.0
37         60    100       120     300.0
38         60    100       120     300.0
39         45    104       129     266.0
40         45     90       112     180.1
41         60     98       126     286.0
42         60    100       122     329.4
43         60    111       138     400.0
44         60    111       131     397.0
45         60     99       119     273.0
46         60    109       153     387.6
47         45    111       136     300.0
48         45    108       129     298.0
49         60    111       139     397.6
50         60    107       136     380.2
51         80    123       146     643.1
52         60    106       130     263.0
53         60    118       151     486.0
54         30    136       175     238.0
55         60    121       146     450.7
56         60    118       121     413.0
57         45    115       144     305.0
58         20    153       172     226.4
59         45    123       152     321.0
60        210    108       160    1376.0
61        160    110       137    1034.4
62        160    109       135     853.0
63         45    118       141     341.0
64         20    110       130     131.4
65        180     90       130     800.4
66        150    105       135     873.4
67        150    107       130     816.0
68         20    106       136     110.4
69        300    108       143    1500.2
70        150     97       129    1115.0
71         60    109       153     387.6
72         90    100       127     700.0
73        150     97       127     953.2
74         45    114       146     304.0
75         90     98       125     563.2
76         45    105       134     251.0
77         45    110       141     300.0
78        120    100       130     500.4
79        270    100       131    1729.0
80         30    159       182     319.2
81         45    149       169     344.0
82         30    103       139     151.1
83        120    100       130     500.0
84         45    100       120     225.3
85         30    151       170     300.0
86         45    102       136     234.0
87        120    100       157    1000.1
88         45    129       103     242.0
89         20     83       107      50.3
90        180    101       127     600.1
92         30     90       107     105.3
93         15     80       100      50.5
94         20    150       171     127.4
95         20    151       168     229.4
96         30     95       128     128.2
97         25    152       168     244.2
98         30    109       131     188.2
99         90     93       124     604.1
100        20     95       112      77.7
101        90     90       110     500.0
102        90     90       100     500.0
103        90     90       100     500.4
104        30     92       108      92.7
105        30     93       128     124.0
106       180     90       120     800.3
107        30     90       120      86.2
108        90     90       120     500.3
109       210    137       184    1860.4
110        60    102       124     325.2
111        45    107       124     275.0
112        15    124       139     124.2
113        45    100       120     225.3
114        60    108       131     367.6
115        60    108       151     351.7
116        60    116       141     443.0
117        60     97       122     277.4
119        60    103       124     332.7
120        30    112       137     193.9
121        45    100       120     100.7
122        60    119       169     336.7
123        60    107       127     344.9
124        60    111       151     368.5
125        60     98       122     271.0
126        60     97       124     275.3
127        60    109       127     382.0
128        90     99       125     466.4
129        60    114       151     384.0
130        60    104       134     342.5
131        60    107       138     357.5
132        60    103       133     335.0
133        60    106       132     327.5
134        60    103       136     339.0
135        20    136       156     189.0
136        45    117       143     317.7
137        45    115       137     318.0
138        45    113       138     308.0
139        20    141       162     222.4
140        60    108       135     390.0
142        45    100       120     250.4
143        45    122       149     335.4
144        60    136       170     470.2
145        45    106       126     270.8
146        60    107       136     400.0
147        60    112       146     361.9
148        30    103       127     185.0
149        60    110       150     409.4
150        60    106       134     343.0
151        60    109       129     353.2
152        60    109       138     374.0
153        30    150       167     275.8
154        60    105       128     328.0
155        60    111       151     368.5
156        60     97       131     270.4
157        60    100       120     270.4
158        60    114       150     382.8
159        30     80       120     240.9
160        30     85       120     250.4
161        45     90       130     260.4
162        45     95       130     270.0
163        45    100       140     280.9
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

In [41]:
df = pd.read_csv('dirtydata.csv')
print(df.to_string())

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7        450  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
18        45  '2020/12/18'     90       112       NaN
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
22        45           NaN    100       119     282.0
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
28        60  '2020/12/28'    103       132       NaN
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0

In [42]:
df = pd.read_csv('dirtydata.csv')
df.dropna(inplace = True)
print(df.to_string())

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7        450  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0

In [46]:
df = pd.read_csv('dirtydata.csv')
df['Date'] = pd.to_datetime(df['Date'])
print(df.to_string())

    Duration       Date  Pulse  Maxpulse  Calories
0         60 2020-12-01    110       130     409.1
1         60 2020-12-02    117       145     479.0
2         60 2020-12-03    103       135     340.0
3         45 2020-12-04    109       175     282.4
4         45 2020-12-05    117       148     406.0
5         60 2020-12-06    102       127     300.0
6         60 2020-12-07    110       136     374.0
7        450 2020-12-08    104       134     253.3
8         30 2020-12-09    109       133     195.1
9         60 2020-12-10     98       124     269.0
10        60 2020-12-11    103       147     329.3
11        60 2020-12-12    100       120     250.7
12        60 2020-12-12    100       120     250.7
13        60 2020-12-13    106       128     345.3
14        60 2020-12-14    104       132     379.3
15        60 2020-12-15     98       123     275.0
16        60 2020-12-16     98       120     215.2
17        60 2020-12-17    100       120     300.0
18        45 2020-12-18     90       112       NaN
19        60 2020-12-19    103       123     323.0
20        45 2020-12-20     97       125     243.0
21        60 2020-12-21    108       131     364.2
22        45        NaT    100       119     282.0
23        60 2020-12-23    130       101     300.0
24        45 2020-12-24    105       132     246.0
25        60 2020-12-25    102       126     334.5
26        60 2020-12-26    100       120     250.0
27        60 2020-12-27     92       118     241.0
28        60 2020-12-28    103       132       NaN
29        60 2020-12-29    100       132     280.0
30        60 2020-12-30    102       129     380.3
31        60 2020-12-31     92       115     243.0

In [48]:
df.dropna(subset=['Date'], inplace = True)
print(df.to_string())

    Duration       Date  Pulse  Maxpulse  Calories
0         60 2020-12-01    110       130     409.1
1         60 2020-12-02    117       145     479.0
2         60 2020-12-03    103       135     340.0
3         45 2020-12-04    109       175     282.4
4         45 2020-12-05    117       148     406.0
5         60 2020-12-06    102       127     300.0
6         60 2020-12-07    110       136     374.0
7        450 2020-12-08    104       134     253.3
8         30 2020-12-09    109       133     195.1
9         60 2020-12-10     98       124     269.0
10        60 2020-12-11    103       147     329.3
11        60 2020-12-12    100       120     250.7
12        60 2020-12-12    100       120     250.7
13        60 2020-12-13    106       128     345.3
14        60 2020-12-14    104       132     379.3
15        60 2020-12-15     98       123     275.0
16        60 2020-12-16     98       120     215.2
17        60 2020-12-17    100       120     300.0
18        45 2020-12-18     90       112       NaN
19        60 2020-12-19    103       123     323.0
20        45 2020-12-20     97       125     243.0
21        60 2020-12-21    108       131     364.2
23        60 2020-12-23    130       101     300.0
24        45 2020-12-24    105       132     246.0
25        60 2020-12-25    102       126     334.5
26        60 2020-12-26    100       120     250.0
27        60 2020-12-27     92       118     241.0
28        60 2020-12-28    103       132       NaN
29        60 2020-12-29    100       132     280.0
30        60 2020-12-30    102       129     380.3
31        60 2020-12-31     92       115     243.0

In [50]:
df.loc[7, 'Duration'] = 45
print(df.to_string())

    Duration       Date  Pulse  Maxpulse  Calories
0         60 2020-12-01    110       130     409.1
1         60 2020-12-02    117       145     479.0
2         60 2020-12-03    103       135     340.0
3         45 2020-12-04    109       175     282.4
4         45 2020-12-05    117       148     406.0
5         60 2020-12-06    102       127     300.0
6         60 2020-12-07    110       136     374.0
7         45 2020-12-08    104       134     253.3
8         30 2020-12-09    109       133     195.1
9         60 2020-12-10     98       124     269.0
10        60 2020-12-11    103       147     329.3
11        60 2020-12-12    100       120     250.7
12        60 2020-12-12    100       120     250.7
13        60 2020-12-13    106       128     345.3
14        60 2020-12-14    104       132     379.3
15        60 2020-12-15     98       123     275.0
16        60 2020-12-16     98       120     215.2
17        60 2020-12-17    100       120     300.0
18        45 2020-12-18     90       112       NaN
19        60 2020-12-19    103       123     323.0
20        45 2020-12-20     97       125     243.0
21        60 2020-12-21    108       131     364.2
23        60 2020-12-23    130       101     300.0
24        45 2020-12-24    105       132     246.0
25        60 2020-12-25    102       126     334.5
26        60 2020-12-26    100       120     250.0
27        60 2020-12-27     92       118     241.0
28        60 2020-12-28    103       132       NaN
29        60 2020-12-29    100       132     280.0
30        60 2020-12-30    102       129     380.3
31        60 2020-12-31     92       115     243.0

In [51]:
print(df.duplicated())

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12     True
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
dtype: bool

In [53]:
df.drop_duplicates(inplace = True)
print(df.to_string())

    Duration       Date  Pulse  Maxpulse  Calories
0         60 2020-12-01    110       130     409.1
1         60 2020-12-02    117       145     479.0
2         60 2020-12-03    103       135     340.0
3         45 2020-12-04    109       175     282.4
4         45 2020-12-05    117       148     406.0
5         60 2020-12-06    102       127     300.0
6         60 2020-12-07    110       136     374.0
7         45 2020-12-08    104       134     253.3
8         30 2020-12-09    109       133     195.1
9         60 2020-12-10     98       124     269.0
10        60 2020-12-11    103       147     329.3
11        60 2020-12-12    100       120     250.7
13        60 2020-12-13    106       128     345.3
14        60 2020-12-14    104       132     379.3
15        60 2020-12-15     98       123     275.0
16        60 2020-12-16     98       120     215.2
17        60 2020-12-17    100       120     300.0
18        45 2020-12-18     90       112       NaN
19        60 2020-12-19    103       123     323.0
20        45 2020-12-20     97       125     243.0
21        60 2020-12-21    108       131     364.2
23        60 2020-12-23    130       101     300.0
24        45 2020-12-24    105       132     246.0
25        60 2020-12-25    102       126     334.5
26        60 2020-12-26    100       120     250.0
27        60 2020-12-27     92       118     241.0
28        60 2020-12-28    103       132       NaN
29        60 2020-12-29    100       132     280.0
30        60 2020-12-30    102       129     380.3
31        60 2020-12-31     92       115     243.0

In [54]:
df.to_csv('cleaned_data.csv', index = True, encoding = 'utf-8')