<center><img title="a title" alt="Alt text" src="Georgian College Logo.svg"></center

<h1><font color='#004b87'><center>BDAT 1004 Week 12</center></font></h1>
<h3><center>Resampling and Web Hosting</center></h3>

<h1><font color='#004b87'>Annoucments</font></h1>
<p></p>
<li>Next week is your last Data Programming Lesson</li>
<li>Everyone should be in a group, if not you need to be ASAP</li>
<li>Don't for get this weeks quiz</li>
<li>No lecture on last day just submit final assignments</li>
<li>Problem Set 3 due last day of semester April 19th/ April 22nd </li>
<li>Next week we will look at R material</li>

<h1><font color='#004b87'>Pandas Resampling</font></h1>

Resample is an amazing function that will convert your time series data into a different frequency (or time intervals). This is most often used when converting your granular data into larger buckets.

Running through examples:
1. Resampling minute data to 5 minute data
2. Resampling minute data to 5 minute data - changing the "close" side
3. Resampling minute data to 5 minute data - changing the "label" side
4. Up resampling quarterly data to monthly data with convention: start/end
5. Bonus: Combine close/label parameters together

First create a DataFrame with a Datetime Index. That's a fancy way of saying that Pandas recognizes the index as time points.

In [1]:
import pandas as pd
#First creating a date range, then creating a DataFrame with the date range as the index.
index = pd.date_range('2/1/2020', periods=9, freq='T')
df = pd.DataFrame(data=range(9), index=index, columns=['count'])
df

                     count
2020-02-01 00:00:00      0
2020-02-01 00:01:00      1
2020-02-01 00:02:00      2
2020-02-01 00:03:00      3
2020-02-01 00:04:00      4
2020-02-01 00:05:00      5
2020-02-01 00:06:00      6
2020-02-01 00:07:00      7
2020-02-01 00:08:00      8

<h2><font color='#004b87'>1. Resampling minute data to 5 minute data</font></h2>


First off, we are going to down sample our data from 1 minute frequency to 5 minute frequency. It's called 'down sampling' becuase you're going *down* in the number of samples.


You need to ask yourself:
1. What new frequency do I want?
2. What do I want to do with the data points in the old frequency. What aggregate function do you want to apply? This is very similary to .groupby() agg functions

Here I'm doing setting the frequency to "5T" which means 5-minutes. Then I'm taking the sum of the data points. Notice how
1. The labels of the new frequency start at 00:00:00. This is known as the 'left' side of the bin.
2. The data point under 00:05:00 is *not included* in the first bucket. This means the new bin is 'closed' on the left. Meaning the right most data point is not included in the new bucket. Yes, I know it sounds like 'closed on the left' should mean that the left data point is not included, but this isn't the case.

In [2]:
df.resample('5T').sum()

                     count
2020-02-01 00:00:00     10
2020-02-01 00:05:00     26

<h2><font color='#004b87'> 3. Resampling minute data to 5 minute data - changing the "label" side.</font></h2>


See how after we down sampled our original data frame, the resulting index labels were on the left side of the bin? This is because the label defaults to the left. However, we can change this to the right.

In [3]:
df.resample('5T', label='right').sum()

                     count
2020-02-01 00:05:00     10
2020-02-01 00:10:00     26

<h2><font color='#004b87'> 4. Up resampling quarterly data to monthly data with convention: start/end </font></h2>

So far we have down sampled our data. But what about up sampling? No problem, but we need to choose where we want to put our data points. By definition, since we are 'zooming in' on our data, we need to tell pandas where to put the previous data points.

Let's create another DataFrame of quarters with a *period range*. Think of period ranges representing intervals while time ranges represent specific times.

In [4]:
# Here lets create a period range, then create a DataFrame with the period range as the index.
index = pd.period_range('1/1/2020', periods=3, freq='Q')
df = pd.DataFrame(data=range(1, 4), index=index, columns=['count'])
df

        count
2020Q1      1
2020Q2      2
2020Q3      3

Now say we want to turn this quarterly data into monthly data. All we need to do is call .resample() and pass the months!

Notice how the data below is placed at the *start* of the period

In [5]:
df.resample('M', convention='start').sum()

         count
2020-01    1.0
2020-02    NaN
2020-03    NaN
2020-04    2.0
2020-05    NaN
2020-06    NaN
2020-07    3.0
2020-08    NaN
2020-09    NaN

<h2><font color='#004b87'> 5. Bonus: Combine close/label parameters together</font></h2>

Here we are going to take the 3 minute time sample, and change it to a 7 minute time sample with labels and close on the right side of the bins.

In [9]:
index = pd.date_range('2/1/2020', periods=9, freq='3T')
df = pd.DataFrame(data=range(9), index=index, columns=['count'])
df

                     count
2020-02-01 00:00:00      0
2020-02-01 00:03:00      1
2020-02-01 00:06:00      2
2020-02-01 00:09:00      3
2020-02-01 00:12:00      4
2020-02-01 00:15:00      5
2020-02-01 00:18:00      6
2020-02-01 00:21:00      7
2020-02-01 00:24:00      8

In [7]:
df.resample('7T', label='right', closed='right').sum()

                     count
2020-02-01 00:00:00      0
2020-02-01 00:07:00      3
2020-02-01 00:14:00      7
2020-02-01 00:21:00     18
2020-02-01 00:28:00      8

Check out how our data is now in 7 minute intervals with the right-most bin data included and labels are the right bins